body {
    margin: 0; 
    font-family: 'Muli', sans-serif;
}

.sections-container {
    padding: 30px; 
    box-sizing: border-box; 
}

.navigation-container {
    display: flex;
    justify-content: space-around;   
    align-items: center; 
}

.navigation-links {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    min-width: 300px; 
    list-style-type: none; 
    text-decoration: none;  
    font-size: 18px;
    font-weight: bold;  
}

.logo {
    padding-right: 150px; 
}

a:link {
    text-decoration: none; 
  }
  
  a:visited {
    color: black; 
  }
  
a:hover {
    text-decoration: underline; 
}

.section1 {
    display: flex; 
    min-height: 45vh; 
    justify-content: center; 
    margin-top: 30px; 
}

.title {
    grid-row: 1 / span 2; 
    grid-column: 1 / span 1; 
    font-size: 40px; 
    font-weight: bold; 
    line-height: 55px;
    margin-block-start: 0; 
    margin-block-end: 0; 
}

.section1__text--paragraph {
    font-size: 16px; 
    color: #111111;
    opacity: 0.8; 
    line-height: 26px; 
    margin-right: 40px; 
}

.section1__items--list{
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;  
    color: #111111;  
    opacity: 0.5; 
    margin-left: 70px; 
}

.section1__items-specification--list {
    list-style-type: none;
    font-size: 18px; 
    font-weight: bold; 
    color: #111111; 
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    padding-bottom: 20px; 
    border-bottom: 1px solid #D8D8D8; 
}

.items-specification1, .items-specification2, .items-specification3, 
.items-specification4, .items-specification5, .items-specification6 {
    padding-bottom: 20px; 
    border-bottom: 1px solid #D8D8D8;
}

.section2 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.section2__text {
    font-size: 16px; 
    line-height: 26px; 
    color:  #111111;
    opacity: 0.8;
    padding: 20px;  
}

.section3__container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1; 
    justify-items: center; 
    grid-gap: 10px; 
    min-width: 80%; 
    padding: 20px;  
}

.vegetation {
    justify-self: end; 
}

.door {
    justify-self: start; 
}

.footer-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 40px; 
    margin-left: 160px; 
    padding-bottom: 10px; 
}

.logo-container {
    flex-grow: 2; 
}

.navigation-container, .social-container {
    flex-grow: 1; 
}

.social-logo {
    margin-right: 15px; 
}